<div class="dashboard-stats">
    <div>
        <h1>Approvals Dashboard</h1>
    </div>
    <div class="stat-item">
        <h4>Total Pending Claims</h4>
        <div class="number">3</div>
    </div>
</div>

<div class="claims-section">
    <div class="section-header">
        <h3>Pending Claims</h3>
    </div>

    <table class="claims-table">
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Submitter</th>
                <th>Submission Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C-001</td>
                <td>Programming class 2nd year group 2</td>
                <td>R3500</td>
                <td>Mr. Okavango</td>
                <td>2025-08-10</td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
            </tr>
            <tr>
                <td>C-002</td>
                <td>Programming Logic and Design Y1 GR1</td>
                <td>R3000.00</td>
                <td>Mr. Chakra</td>
                <td>2025-08-08</td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
            </tr>
            <tr>
                <td>C-003</td>
                <td>Source Coding Y3 G1</td>
                <td>R3700</td>
                <td>Ms. Chloe Davis</td>
                <td>2025-09-05</td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>