<div class="dashboard-stats">
    <div>
        <h1>Manager Dashboard</h1>
    </div>
    <div class="stat-item">
        <h4>Total Pending Claims</h4>
        <div class="number">3</div>
    </div>
</div>

<div class="claims-section">
    <div class="section-header">
        <h3>Pending Claims</h3>
    </div>

    <table class="claims-table">
        <thead>
            <tr>
                <th>Claim reference</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Coordinator Decision</th>
                <th>Actions</th>
                <th>Uploaded Document</th>
            </tr>
		</thead>
		
        <tbody>
            <tr>
                <td>C-001</td>
                <td>Programming </td>
                <td>R3500</td>
				<td>
					<button class="btn btn-pending">Pending</button>
				</td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>

                <td>📎</td>
            </tr>
            <tr>
                <td>C-002</td>
                <td>PRLD</td>
                <td>R3000.00</td>
				<td>
					<button class="btn btn-approved">Approved</button>
				</td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
                <td>📎</td>
            </tr>
            <tr>
                <td>C-003</td>
                <td>Open Source Coding</td>
                <td>R3700</td>
                <td>
                    <button class="btn btn-rejected">Rejected</button>
                </td>
                <td>
                    <button class="action-btn btn-approve">Approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
                <td>📎</td>
            </tr>

        </tbody>
    </table>
</div>