<div class="page-header">
    <h1>Coordinator Dashboard</h1>
</div>

<div class="claims-section">
    <div class="section-header">
        <h3>Claims requested </h3>
    </div>

    <table class="claims-table">
        <thead>
            <tr>
                <th>Claim Reference</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Pending</th>
                <th>Manager Decision</th>
                <th>Uploaded Document</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CLM-001</td>
                <td>Programming</td>
                <td>R3500.00</td>
                <td>
                    <button class="action-btn btn-approve">pre-approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
                <td>📎</td>
            </tr>
            <tr>
                <td>CLM-002</td>
                <td>PRLD</td>
                <td>R3000.00</td>
                <td>
                    <button class="action-btn btn-approve">pre-approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
                <td>📎</td>
            </tr>
            <tr>
                <td>CLM-003</td>
                <td>Open Source Coding</td>
                <td>R3700.00</td>
                <td>
                    <button class="action-btn btn-approve">pre-approve</button>
                    <button class="action-btn btn-reject">Reject</button>
                </td>
                <td>📎</td>
            </tr>

        </tbody>
    </table>
</div>